9a. Firecrawl_for_Webpage_Data_Extraction.json
{
  "name": "Firecrawl for Webpage Data Extraction",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "2736798d-1fc2-4d63-8614-8a8b5512ded7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        180
      ],
      "id": "59f3a8eb-ceb4-4671-a181-b71de479de8a",
      "name": "Wait",
      "webhookId": "63868721-e47b-4b75-923a-7ed3d05ab4f8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ff746039-7402-4dd2-9e0a-a7c73421da63"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf255a0d-7adb-4dd0-85de-303720261af6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6be112a4-a290-48f9-9a78-5750a2b449d7",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "cancelled",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f898b49c-aff3-4491-a340-c99db03519c8",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -41
      ],
      "id": "48252ff5-d03e-4c55-b739-1a0b4d60b776",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"https://quotes.toscrape.com/*\"\n  ],\n  \"prompt\": \"Extract all quotes and their corresponding authors from the website.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"quotes\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"quote\": {\n              \"type\": \"string\"\n            },\n            \"author\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"quote\",\n            \"author\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"quotes\"\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        80
      ],
      "id": "74c6b8c9-bfea-4728-ba7b-8901730cae6b",
      "name": "Firecrawl Extract",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r0cMwILhJQG2DHYV",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Firecrawl Extract').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        80
      ],
      "id": "27044830-a773-4e80-8b01-78d1c517e386",
      "name": "Firecrawl State",
      "credentials": {
        "httpHeaderAuth": {
          "id": "r0cMwILhJQG2DHYV",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQ5tolqeYyHp4ZpeNOm3QUmXFKFYuE11wNGu6njL-jM",
          "mode": "list",
          "cachedResultName": "Quotes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQ5tolqeYyHp4ZpeNOm3QUmXFKFYuE11wNGu6njL-jM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQ5tolqeYyHp4ZpeNOm3QUmXFKFYuE11wNGu6njL-jM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Index": "={{ $json.index }}",
            "Quote": "={{ $json.quote }}",
            "Author": "={{ $json.author }}"
          },
          "matchingColumns": [
            "Quote"
          ],
          "schema": [
            {
              "id": "Index",
              "displayName": "Index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quote",
              "displayName": "Quote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        -220
      ],
      "id": "17c3fb3c-52ba-42e8-8997-2c9168530689",
      "name": "Save Quotes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KvOjoahbcpesNRn7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const quotes = items[0].json.data.quotes;\n\nreturn quotes.map((q, index) => ({\n  json: {\n    index: index + 1, // to make it 1-based\n    quote: q.quote,\n    author: q.author\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -220
      ],
      "id": "73307e39-6c9c-4db0-9000-ac9dcb76ed8f",
      "name": "Code",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "sushantdhumak@yahoo.co.in",
        "subject": "Firecrawl Extraction Cancelled",
        "emailType": "text",
        "message": "Firecrawl Extraction Cancelled",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1100,
        -20
      ],
      "id": "c6ca852b-9230-47ef-b773-d887d409131a",
      "name": "Send Email",
      "webhookId": "cee889fd-584a-4019-b258-1b290ab1245d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Se6ci6VZcDgQ0rGu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🔥 Firecrawl for Webpage Data Extraction\n\n1. **Extract website data** using Firecrawl APIs from one or multiple pages.\n\n2. **Poll (Wait) for completion**, ensuring extraction is finished before proceeding.\n\n3. **Save the extracted data** directly into an existing Google Sheet.\n\n4. **Handle failures gracefully** by sending an automated email notification to the tool owner.\n",
        "height": 680,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -280
      ],
      "typeVersion": 1,
      "id": "1e6696d5-7e1e-455f-9017-efc484528f72",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Firecrawl Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Firecrawl State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Extract": {
      "main": [
        [
          {
            "node": "Firecrawl State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl State": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Quotes": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Save Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65e9badb-b2a6-404e-986c-9d2dcd6a2004",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18f4425eea19669ed4128549d988a89c1f695f4e3895e608af8476842be160"
  },
  "id": "0fDPcOrvOM01FidP",
  "tags": []
}