Order_Status_Email.json
{
  "name": "Order Status Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1R5u8Uw3PEpXvNVKvQlcqmWpXCNXBbv7PhxbmluC00r8",
          "mode": "list",
          "cachedResultName": "Customer Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R5u8Uw3PEpXvNVKvQlcqmWpXCNXBbv7PhxbmluC00r8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R5u8Uw3PEpXvNVKvQlcqmWpXCNXBbv7PhxbmluC00r8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6ec8d511-2569-44e5-a111-0cc7fb76c47f",
      "name": "Order Added / Status Changed",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Qdql0uQj3t2SKPTG",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sushantdhumak@yahoo.co.in",
        "subject": "={{ $json.message.content.EmailSubject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.EmailBody }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        0
      ],
      "id": "cabdbe40-41b7-48b3-b441-f3761b1ef518",
      "name": "Send Email",
      "webhookId": "889a2217-a05d-4e90-af07-5ad442560bab",
      "credentials": {
        "gmailOAuth2": {
          "id": "Se6ci6VZcDgQ0rGu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Order Status via Email\n",
        "height": 300,
        "width": 860,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -100
      ],
      "typeVersion": 1,
      "id": "951a1db8-eb9d-45e8-ba20-e3a2905a3966",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are responsible for processing client orders and generating a professional summary that will be emailed to the internal team. Your goal is to transform incoming order details into a well-structured and concise email. The email should be clear, informative, and formatted for easy readability.\n\nThe email should always be signed off as: \"Customer Success Team\"\n\n\nYou will receive the following order details:\n\nOrder ID: {{ $json.OrderID }}\n\nCustomer Name: {{ $json.CustomerName }}\n\nProduct: {{ $json.Product }}\n\nQuantity: {{ $json.Quantity }}\n\nPrice: {{ $json.Price }}\n\nOrder Date: {{ $json.OrderDate }}\n\nStatus: {{ $json.Status }}\n\n\n\nYou must generate the following output parameters:\n\nEmailSubject\nEmailBody\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "e2257add-8cd2-4f79-8854-c24ebb25951a",
      "name": "Compose Email with AI",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Order Added / Status Changed": {
      "main": [
        [
          {
            "node": "Compose Email with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email with AI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69fdb7d7-aa68-480d-8808-54f780d507b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18f4425eea19669ed4128549d988a89c1f695f4e3895e608af8476842be160"
  },
  "id": "M9XDH0TpI3KMDRdw",
  "tags": []
}